$color-1:#eb2b87;
$color-2:#ff6c03;
$color-3:#4d4d4d;
$color-4:#dedede;
$color-5:#ffffff;
$color-6:#ea288c;
$color-7:#ff6d00;
$color-8:#d0021b;
$color-9:#f04873;
$color-10:#b51f73;
$color-11:#f79bb6;
$color-12:#f04874;
$color-13:#fbbedd;
$color-14:#000000;
$color-15:#ea288c;