.simplon-bp{
  font-family:'simplon-bp';
}

.simplon-oi-headline{
  font-family:'simplon-oi-headline';
}

.display-flex{
  @include display-flex(inline-flex);
}

.align-items-flex-start{
  @include align-items(flex-start);
}

.align-items-center{
  @include align-items(center);
}

.align-justify-content-space-between{
  @include justify-content(space-between);
}

.align-justify-content-center{
  @include justify-content(center);
}

.align-justify-content-flex-end{
  @include justify-content(flex-end);
}

.text-transform-uppercase{
  text-transform: uppercase;
}