@font-face{
  font-family:'simplon-bp';
  src:url(./fonts/simplon-bp/simplon-bp.eot);
  src:url(./fonts/simplon-bp/simplon-bp.eot?iefix) format("eot"),
  url(./fonts/simplon-bp/simplon-bp.woff) format("woff"),
  url(./fonts/simplon-bp/simplon-bp.ttf) format("truetype"),
  url(./fonts/simplon-bp/simplon-bp.svg#webfont) format("svg")
}

@font-face{
  font-family:'simplon-oi-headline';
  src:url(./fonts/simplon-oi-headline/simplon-oi-headline.eot);
  src:url(./fonts/simplon-oi-headline/simplon-oi-headline.eot?iefix) format("eot"),
  url(./fonts/simplon-oi-headline/simplon-oi-headline.woff) format("woff"),
  url(./fonts/simplon-oi-headline/simplon-oi-headline.ttf) format("truetype"),
  url(./fonts/simplon-oi-headline/simplon-oi-headline.svg#webfont) format("svg")
}
