.frequently-asked {
  li {
    border-bottom: 1px solid darken($color-4, 20%);
  }

  li > div {
    cursor: pointer;
    position: relative;
    display: table;
    width: 100%;
    line-height: 50px;
    vertical-align: middle;
    min-height: 50px;
    padding: 10px 0;
    h3, h4 {
      // display: inline-block;
      line-height: normal;
      margin: 0;
      display: table-cell;
      padding: 0;
      vertical-align: middle;
    }
    h3 {
      font-size: 2.4rem;
      width: 60px;
      font-weight: lighter;
    }
    h4 {
      font-size: 0.9rem;
      font-weight: bold;
      text-align: justify;
      padding-right: 30px;
      line-height: 1.5rem;
    }
    h4:before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 16px;
      width: 16px;
      background-image: url('../images/show-hide.png');
      background-repeat: no-repeat;
      background-position: 0 center;
    }
    h4.show-answer:before {
      background-position: -25px center;
    }
  }

  li > p {
    margin: 0 0 40px 60px;
  }

  .btn-login {
    text-align: center;
    a {
      transition: all 0.3s;
      border: 1px solid $color-3;
      color: $color-3;
      padding: 20px 40px;
      border-radius: 4px;
      display: inline-block;
    }
    a:hover {
      transition: all 0.3s;
      border-color: $color-2;
      color: $color-2;
    }
  }

}
