.help-page {

  h3, a {
    color: $color-2;
    text-decoration: none;
  }

  p, h4 {
    font-family: 'simplon-bp' !important;
  }

  p {
    margin-bottom: 20px;
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.2rem;
  }

  h3 {
    margin: 40px 0 20px 0;
  }

  h4 {
    margin: 20px 0;
    font-size: 1.1rem;
  }

  hr {
    border-width: 0 0 2px 0;
    border-color: darken($color-4, 20%);
    margin: 10px 0;
  }

  h4.icon {
    padding-right: 5rem;
    min-height: 36px;
    padding-left: 60px;
    // line-height: 36px;
    padding-top: 10px;
    vertical-align: middle;
    background-image: url('../images/wireless_pin.png');
    background-repeat: no-repeat;
    background-position: 10px center;
  }

}
